.nav-link{
  display: flex;
  flex-direction: row;
}
.nav-link li{
  text-decoration: none;
  list-style: none;
}
.nav-link li,a{
  margin: 0rem 1rem;
}
.nav-link li a:hover{
  color: red !important;
  cursor: pointer !important;
}
